<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Prend en compte la configuration des injections (@Inject...) -->
    <context:annotation-config/>

    <!-- Scanne les packages pour trouver les beans qui se déclarent (@Named...) -->
    <context:component-scan base-package="org.example.demo.ticket"/>

</beans>